.titulo-depoimentos {
  font-size: 15px;
  text-align: center;
}

.titulo-depoimentos a {
  font-weight: bold;
}

.titulo-depoimentos a:hover {
  font-weight: normal;
}

.titulo-depoimentos a#air {
  color: red;
}

.titulo-depoimentos a#book {
  color: blue;
}

.txt-depo1 {
  margin: 40px auto 0 auto;
}

.txt-depo2 {
  margin: 10px auto 20px auto;
}

div.borderDepo img {
  border: 1px solid #606060;
}

img#default-logo{
  height: 70px;
  margin: 7px;
}

a#translate {
  cursor: pointer;
}

#reservation-form .price h4 {
  padding-right: 0!important;
}

form.reservation-vertical input {
  text-transform: uppercase;
  color: #606060;
}

div.field-group-1 {
  margin-bottom: 10px;
}

div.field-group-2 {
  margin-bottom: 17px;
}

form.reservation-vertical div.col-xs-6:first-child {
  padding-left: 0;
}

form.reservation-vertical div.col-xs-6:last-child {
  padding-right: 0;
}

div#descricao {
  margin-top: 35px;
}

div .alturaDetalhes {
  height: 175px;
}

ul#rules {
  font-size: 12px;
  list-style-type: circle;
}

ul#rules li {
  margin-top: 5px;
}

div #extras {
  font-size: 12px;
}

.footer-box{
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {

  ul#rules li {
    margin-top: 5px !important;
  }

  .fix-line:before {
    top: 99% !important;
  }

  footer {
    margin-top: 0 !important;
    font-size: 10px;
  }
}
