.titulo-depoimentos {
  font-size: 15px;
  text-align: center;
}

.titulo-depoimentos a {
  color: red;
  font-weight: 600;
}

.titulo-depoimentos a:hover {
  font-weight: 700;
}

.txt-depo1 {
  margin: 40px auto 0 auto;
}

.txt-depo2 {
  margin: 10px auto 20px auto;
}

div.borderDepo img {
  border: 1px solid #606060;
}

section.fundo-call {
  background: url("../images/parallax/banner_barra2.gif") no-repeat!important;
  background-size: cover!important;
}

img#default-logo{
  height: 70px;
  margin: 7px;
}

a#translate {
  cursor: pointer;
}

#reservation-form .price h4 {
  padding-right: 0!important;
}

form.reservation-vertical input {
  text-transform: uppercase;
  color: #606060;
}

div.field-group-1 {
  margin-bottom: 10px;
}

div.field-group-2 {
  margin-bottom: 17px;
}

form.reservation-vertical div.col-xs-6:first-child {
  padding-left: 0;
}

form.reservation-vertical div.col-xs-6:last-child {
  padding-right: 0;
}

div#descricao {
  margin-top: 35px;
}

div.alturaDetalhes {
  height: 175px;
}

ul#rules {
  font-size: 12px;
  list-style-type: circle;
}

ul#rules li {
  margin-top: 5px;
}

div #extras {
  font-size: 12px;
}

.footer-box{
  margin-top: 15px;
}

@media only screen and (min-width: 1200px){
  /*Tamanho box/imagem slider apartamentos*/
  #owl-standard,
  .owl-item,
  img.img-responsive {
    height: 481px!important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  /*Tamanho box/imagem slider apartamentos*/
  #owl-standard,
  .owl-item,
  img.img-responsive {
    height: 506px!important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1169px) {
  div.alturaDetalhes {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {

  ul#rules li {
    margin-top: 5px !important;
  }

  .fix-line:before {
    top: 99% !important;
  }

  .titulo-depoimentos {
    font-size: 13px;
  }

  #call-to-action {
    margin-top: 50px;
    margin-bottom: 0!important;
  }

  section#contact-form {
    margin-bottom: 10%;
  }

  section.lista-apartamentos {
    margin-bottom: 10%;
  }

  footer {
    margin-top: 0 !important;
    font-size: 10px;
  }
}

@media only screen and (min-width: 456px) and (max-width: 767px) {
  ol.breadcrumb {
    font-size: 13px;
    margin-left: 10px;
  }

  div.col-sm-12 h1 {
    margin-top: 15px;
    font-size: 27px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 455px) {
  .caption {
    display: none!important;
  }

  .parallax-effect #parallax-pagetitle {
    height: 125px!important;
  }

  ol.breadcrumb {
    margin-top: 20px;
    font-size: 10px;
  }

  div.col-sm-12 h1 {
    margin-top: 25px;
    font-size: 20px;
  }

  h3.mt50 {
    text-align: center;
    font-size: 15px;
  }

  td {
    display: inline-block;
    width: 50%;
    text-align: center;
    background-color: #FFF!important;
    border: 1px solid #F0F0F0;
  }

  td:first-child {
    display: block;
    width: 100%;
    background-color: rgba(90, 186, 198, 0.05)!important;
  }

  div.alturaDetalhes {
    margin-top: 10px;
    height: 100%;
    text-align: center;
  }

  div.alturaDetalhes:last-child {
    margin-bottom: 25px;
  }

  h2.lined-heading {
    font-size: 19px;
  }

  .room-thumb .main h5 {
    font-size: 12px!important;
    padding: 10px 0 0 5px!important;
  }

}

/* prettyPhoto styling for medium screens  - below 1169px width */
@media only screen and (min-width: 768px) and (max-width: 1169px) {
  .pp_pic_holder.pp_default {margin: 0 15%!important; width: 70%!important; left: 0!important; overflow: hidden; }
  div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
  div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
  .pp_content { width: 100%!important; height: auto!important; }
  .pp_fade { width: 100%!important; height: 100%!important; }
  a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
  #pp_full_res img { width: 100%!important; height: auto!important; }
  .pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 20px; padding-bottom: 20px; background-color: #fff; margin-top: -2px!important; }
  a.pp_close { right: 10px!important; top: 10px!important; }
}

/* prettyPhoto styling for small screens  - below 767px width */
@media only screen and (max-width: 767px) {
  .pp_pic_holder.pp_default {width: 100%!important; left: 0!important; overflow: hidden; }
  div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
  div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
  .pp_content { width: 100%!important; height: auto!important; }
  .pp_fade { width: 100%!important; height: 100%!important; }
  a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
  #pp_full_res img { width: 100%!important; height: auto!important; }
  .pp_details { width: 100%!important; padding-left: 3%; padding-right: 4%; padding-top: 20px; padding-bottom: 20px; background-color: #fff; margin-top: -2px!important; }
  a.pp_close { right: 10px!important; top: 10px!important; }
}

.social-rodape{
  font-size: 18px; margin-left: 10px; position: relative; top: 2px;
}

.copy, .rocketify{
  padding-top: 5px;
}
